version: '3'

services:
  minidlna:
    image: croc/minidlna
    environment:
      - SRVNAME=docker-minidlna
      - PORT=8205
      - FOLDERS=/media/mp3,/media/movies,/media/tv_series
    volumes:
      - '/mnt/data/pub/movies:/media/movies'
      - '/mnt/data/pub/tv_series:/media/tv_series'
      - '/mnt/data/pub/mp3:/media/mp3'
    network_mode: 'host'
    restart: always
